<!DOCTYPE html>
<html>
	<head>
		<title>FCGI Wiki</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<!-- Bootstrap -->
		<link href="/css/bootstrap.min.css" rel="stylesheet" media="screen">
	</head>
	<body>
		<div class="container-fluid">
			<div class="row-fluid">
				<div class="span3">
					{include file=../sidebar/sidebar}
				</div>
				<div class="span9">
					<div class="row-fluid">
						{assign name=mode value=create}
						{include file=../menu/loginmenu}
					</div>
					<div class="row-fluid">
						<div class="well">
							<form method="POST">
								<input type="text" name="username" placeholder="Username"/><br/>
								<input type="password" name="password" placeholder="Password"/><br/>
								<input type="text" name="email" placeholder="Email Address"/><br/>
								<input class="btn" type="submit" value="Login"/>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
		<script src="http://code.jquery.com/jquery.js"></script>
		<script src="/js/bootstrap.min.js"></script>
	</body>
</html>